<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="<%= avatar %>" type="image/png" />
    <title><%= name %> - AniMan</title>
    <style>
      body {
        background-color: black;
        height: calc(100dvh - 2rem);
        margin: 0;
        padding: 0;
        color: white;
        padding: 1rem;
      }
      nav {
        display: flex;
        width: 100%;
        justify-content: end;
      }
      form button {
        --size: 45px;
        cursor: pointer;
        border-radius: 999px;
        border: none;
        background-image: url("<%= avatar %>");
        background-size: var(--size);
        height: var(--size);
        width: var(--size);
        position: relative;
        &::after {
          --size: 30px;
          content: "";
          position: absolute;
          height: var(--size);
          width: var(--size);
          background-size: var(--size);
          right: 2px;
          bottom: -4px;
          background-color: transparent;
          background-image: url("/static/assets/arrow.png");
          background-repeat: no-repeat;
          mix-blend-mode: darken;
        }
      }
    </style>
  </head>
  <body>
    <nav>
      <form method="post" action="logout">
        <button type="submit" title="Logout"></button>
      </form>
    </nav>

    <section>
      <p>ID: <%= id %></p>
      <p>Name: <%= name %></p>
    </section>
  </body>
</html>
